<div class="header">
  <div>
    <input type="text" placeholder="Введите тэг" (input)="inputHandler($event.target.value)" (click)="showError = false"
      [value]="tagValue">
    <div class="header__error" *ngIf="showError">{{ error }}</div>
  </div>
  <button class="header__download" (click)="addTagImage()" [disabled]="disabled">{{ donwloadImage }}</button>
  <button class="header__clear" (click)="clearAll()">Очистить</button>
  <button class="header__group" (click)="sortImages()">{{ grouped }}</button>
</div>

<app-content [sort]='sort' [image_url]='image_url' [tagImagesArray]='tagImagesArray'
[tagImagesArrayGroup]='tagImagesArrayGroup' [(tagValue)]='tagValue'></app-content>
