<div class="header">
  <div>
    <input type="text" placeholder="Введите тэг" (input)="inputHandler($event)" (click)="tagShow = 'none'"
      [value]="tagValue">
    <div class="header__error" [ngStyle]="{display: tagShow}">{{ tagError }}</div>
  </div>
  <button class="header__download" (click)="addTagImage()" [disabled]="disabled">{{ tagDownload }}</button>
  <button class="header__clear" (click)="clearAll()">Очистить</button>
  <button class="header__group" (click)="sortImages()">{{ grouped }}</button>
</div>

<ul class="content" *ngIf="!sort">
  <li *ngFor="let image of tagArray">
    <img [src]="image.image_url" (click)="tagValue=image.tag">
  </li>
</ul>
<ul class="content__sorted" *ngIf="sort">
  <li *ngFor="let arr of tagGroups">
    <span>{{ arr[0] }}</span>
    <div class="content__images">
      <div *ngFor="let image of arr[1]">
        <img [src]="image" (click)="tagValue=image.tag">
      </div>
    </div>
  </li>
</ul>
